* {
  background-color: rgb(238, 237, 237);
  color: #2c434b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  background: #ffd7ba;
  color: #222;
}

.title {
  font-weight: bolder;
}

.group {
  background: #f4f4f4;
  margin: 20px;
  padding: 30px 20px;
  border: 2px solid grey;
  cursor: pointer;
  border-radius: 15px;
}

.group h1 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.group h3 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: #2b7a7b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  display: inline-block;
  background: #2c434b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
}

input[type="text"] {
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  /* border: 1px solid steelblue; */
  padding: 30px;
  padding-top: 60px;
  border-radius: 5px;
}

.filterBox {
  text-align: left;
}

.processImage {
  align-self: center;
  padding-left: 15px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  /* padding-right: 10px; */
  /* height: 10px; */
}

.splitterImage {
  align-self: center;
  padding-left: 15px;
  padding-bottom: 4px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 30px;
  /* padding-right: 10px; */
  /* height: 10px; */
}

.logoImage {
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  height: 35px;
  /* padding-right: 10px; */
  /* height: 10px; */
}

.navBar {
  align-items: center;
  background-color: #2c434b;
  color: white;
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.navbar-brand {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.nav-link {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.navBar-link-special {
  font-weight: bold;
  font-size: 20px;
}

.nav-link a {
  color: white;
}

/* colours: 17252a 2b7a7b 3aafa9 def2f1*/
